# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
charset = utf-8     #文本utf-8
end_of_line = lf    # 换行符
indent_style = tab  # tab缩进
tab_width = 2       # 缩进2位
insert_final_newline = true # 最后插入空行
trim_trailing_whitespace= true #换行符之前的空格

# [*.{js,jsx,ts,tsx,mjs,mjsx,cjs,cjsx,sh,rb}]
# indent_size = 2
# trim_trailing_whitespace = true

# [*.{css,scss,less,html,hbs,ejs,json,code-workspace,yml,yaml,gql}]
# indent_size = 2
# trim_trailing_whitespace = true
